<mat-card>
    <h1 mat-subheader>All Categories</h1>

    <mat-list>

        <mat-list-item *ngFor="let c of categories">
           <div container>
            <div class="row">

                <div class="col-1 vertical">
                    <mat-icon  mat-list-icon>category</mat-icon>


                </div>
                <div class="col-9">

                    <span mat-line>{{c.title}}</span> <br>
        
                    <span mat-line>{{c.description}}</span> <br>
                    
                </div>


            </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
           
        </mat-list-item>
    </mat-list>


    <div class="conatiner text-center mt20 mb20">
        <button routerLink="/admin/add-category" mat-raised-button color="accent" >Add Category</button>
    </div>


</mat-card>